version: '3.8'
services:
  rabbitmq:
    image: rabbitmq:3.12-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
    networks:
      - banco-net

  mysql:
    image: mysql:8.0
    container_name: mysql-banco
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: db_banco
      MYSQL_USER: root
      MYSQL_PASSWORD: root
    ports:
      - "3306:3306"
    networks:
      - banco-net

networks:
  banco-net:
    driver: bridge